<!DOCTYPE html>
<html>
  <head>
    <title>Myapp3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <header>
    <div class="header-inner">
     <div class="header-left">
     <%= link_to("http://127.0.0.1:3000/") do %>
      <img alt="ロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
     <% end %> 
       <div class="serch-box">
       <input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア"> <input type="text" name="word" id="word" value="" class="form-control" placeholder="キーワード">
       </div> 
     </div>     
    </div>
   
     <div class="header-right">
      <% if user_signed_in? %>
       <%= link_to current_user.name  %>
       <div onclick="obj=document.getElementById('menu1').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">▼メニュー</a>
       </div>
       <div id="menu1" style="display:none;clear:both;">
        <div class="menu-container">
        <p><%= link_to "ルーム登録", :new_room %></p>
        <p><%= link_to "登録ルーム一覧", :rooms %></p>
         <p>設定</p>
         <%= link_to 'ログアウト' ,destroy_user_session_path, class: 'dropdown-item', method: :delete%>
        </div>
       </div>
       <% else %>

       <%= link_to("http://127.0.0.1:3000/users/sign_in") do %>
        <button type="button" class="btn-primary">ログイン</button>
       <% end %>
       <%= link_to("http://127.0.0.1:3000//users/sign_up") do %>
        <button type="button" class="btn-secondary">新規登録</button>
       <% end %>
       <% end %>
     </div>
    </div>
   </header>
   <%= yield %>
   
 <footer>
  <p>© 2020 POTEPAN.INC.</p>
 </footer>
 </body>
</html>
